<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>about</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}?2">
        <link href="//fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
    </head>
    <body>
        <img src="{% static "/images/lofi_clouds.png" %}" alt="lofi_clouds" class="center">
        <h1 class="title">about</h1>
        <p class="about">
            a lofi playlist generator that creates a playlist for you based on the length of your study session.<br>
            please note, the longer the study session, the longer it will take for the playlist to be created
        </p>
        <div class="links">
            <a href="https://github.com/anitazng" target="_blank">github</a>
        </div>
        </p>
    </body>
</html>
