<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>playlist created</title>
        <link rel='stylesheet' type='text/css' href="{% static 'css/main.css' %}?2">
        <link href='//fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <br><h1 class="title">your playlist has been created. happy studying!</h1>
    </body>
</html>